/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Cormorant Garamond', serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: url('https://media.giphy.com/media/l3c614V12UA82q1vG/giphy.gif') no-repeat center center fixed;
    background-size: cover;
}

/* Custom scroll bar styling */
.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-track {
    background: rgba(0, 0, 30, 0.3); /* Slightly darker background */
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #6f67d2; /* Scrollbar thumb color */
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 30, 0.85); /* Optional border for better contrast */
}

.content {
    max-width: 800px;
    width: 90%;
    padding: 20px;
    background: rgba(0, 0, 30, 0.85);
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: left;
    margin: 20px auto;
    overflow-y: auto;
    max-height: 90vh;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #f3e7e9;
    text-shadow: 0px 0px 10px #6666cc;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.release-info {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: bold;
    color: #a6b0e1;
}

.album-link {
    color: #6f67d2;
    text-decoration: underline;
}

.japanese-text {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: #a6b0e1;
}

.album-link:hover {
    color: #4a47a3;
}

/* Responsive styling for tablets and smaller screens */
@media (max-width: 768px) {
    .content {
        max-width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }

    .release-info {
        font-size: 1em;
    }

    .japanese-text {
        font-size: 1.5em;
    }
}

/* Responsive styling for smaller phones */
@media (max-width: 480px) {
    h1 {
        font-size: 1.75em;
    }

    p {
        font-size: 0.95em;
    }

    .japanese-text {
        font-size: 1.3em;
    }

    .content {
        padding: 10px;
        border-radius: 10px;
    }
}
